skills/n8n_news_workflow.json
{
  "name": "Daily News Briefing - RSS to LLM to Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "schedule-trigger-1",
      "name": "Daily 8AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "http://feeds.bbci.co.uk/news/rss.xml",
        "options": {}
      },
      "id": "rss-read-1",
      "name": "Fetch BBC News RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [250, 0]
    },
    {
      "parameters": {
        "operation": "message",
        "resource": "chat",
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional news editor. Below are the latest news headlines and descriptions from BBC News RSS feed. Summarize the top 5 most important stories into a concise, well-formatted morning briefing email. Use bullet points with bold headlines. Add a brief 1-2 sentence summary for each story. Start with a greeting like 'Good morning! Here is your daily news briefing:' and end with a sign-off.\n\nNews items:\n{{ $items().map((item, i) => `${i+1}. Title: ${item.json.title}\nDescription: ${item.json.contentSnippet || item.json.content || 'No description'}\nLink: ${item.json.link}`).slice(0, 15).join('\n\n') }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1024
        }
      },
      "id": "openai-chat-1",
      "name": "Summarize with OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [500, 0],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "your-email@gmail.com",
        "subject": "=☀️ Your Daily News Briefing — {{ new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) }}",
        "message": "={{ $json.message?.content || $json.text || $json.output || JSON.stringify($json) }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "gmail-send-1",
      "name": "Send Email via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [750, 0],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Daily 8AM Trigger": {
      "main": [
        [
          {
            "node": "Fetch BBC News RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch BBC News RSS": {
      "main": [
        [
          {
            "node": "Summarize with OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with OpenAI": {
      "main": [
        [
          {
            "node": "Send Email via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "news"
    },
    {
      "name": "automation"
    }
  ],
  "triggerCount": 1
}